<% include header.html %>
      
<div class="container-fluid">
	<form class="form-horizontal" method="post">
	  <fieldset>
	    <legend>用户登陆</legend>
	    <%- message %>
	    <div class="control-group">
	      <label class="control-label" for="username">用户名</label>
	      <div class="controls">
	        <input type="text" class="input-xlarge" id="username" name="username" value="admin">
	      </div>
	    </div>
	    <div class="control-group">
	      <label class="control-label" for="password">密码</label>
	      <div class="controls">
	        <input type="password" class="input-xlarge" id="password" name="password" value="admin">
	      </div>
	    </div>
	    <div class="form-actions">
	      <button type="submit" class="btn btn-primary">登陆</button>
	    </div>
	  </fieldset>
	</form>
</div>

<% include footer.html %>